services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  redis:
    image: redis:custom
    build: ./compose/redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    env_file:
      - .env

  emqx:
    image: emqx:5.8.8
    container_name: emqx
    restart: always
    ports:
      - "1883:1883"
      - "18083:18083"
    environment:
      - EMQX_NAME=emqx
      - EMQX_NODE__NAME=emqx@emqx
      - EMQX_NODE__COOKIE=supersecretcookie
      - EMQX_CLUSTER__DISCOVERY_STRATEGY=static
      - EMQX_CLUSTER__STATIC__SEEDS=emqx@emqx
    volumes:
      - emqx_data:/opt/emqx/data
      - emqx_log:/opt/emqx/log
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
  redis_data:
  emqx_data:
  emqx_log:
